body {
	font-family: "Duru Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #F8F8FF;
}

.espacamento-container {
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-topo {
	height: 395px;
}

.margin-menu {
	margin-top: 10px;
}

img.gray {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
}

img.color {
	position: absolute;
	left: 0;
	top: 0;
}

.scrollTop {
	position: fixed;
    bottom: 5px;
    right: 5px;
    display: none;
    z-index: 9999;
}

.border-img {
	border: 5px #fff solid;
}

.logo {
	margin: 160px 0 0 35px
}
.logo h1 {
	font-size: 80px;
}
.logo h1 span {
	color: #ccc;
}
.logo a:hover {
	text-decoration: none;
}

.portifolio h4 {
	position: absolute;
	top: 20px;
	left: 150px;
	font-size: 40px;
	background: #000;
	color: #fff;
	padding: 15px;
	max-width: 510px;
}

.portifolio a {
	position: absolute;
	font-size: 20px;
	background: #000;
	color: #fff;
	padding: 15px;
	right: 165px;
	bottom: 20px;

}