$icon-font-path: "/dist/fonts/vendor/bootstrap-sass/bootstrap/";
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

$fa-font-path: "/dist/fonts/vendor/font-awesome/";

$images-path: "/dist/images/";